<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{name}} Index</title>
</head>
<body>
{%- for file in files | sort -%}
	<a href="{{ filename }}">{{ filename }}</a><br>
{%- endfor %}
</body>
</html>
