<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{name}} Index</title>
</head>
<body>
{%- for file in files[name] | sort -%}
	{% set path = file[file.rfind("/")+1:] %}
	<a href="{{ path }}">{{ path }}</a><br>
{%- endfor %}
</body>
</html>
