<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Package Index</title>
</head>
<body>
{%- for package in packages | sort -%}
	<a href="{{ package }}/index.html">{{ package }}</a><br>
{%- endfor %}
</body>
</html>
